@model LoginInputModel

<div class="login-page">

    @Html.Partial("_ValidationSummary")

    <div class="row">
        
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel-heading">
                            Welcome to BI Incorporated.<br />
                            Please enter your user name and password.
                        </div>

                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="User Name" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Login</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>